<h6 class="text-center" style="background-color: rgba(0,123,255,0.25);padding:0.2em;"><b>{{title}}</b></h6>
<div class="container-fluid">

   <!-- {{data | json}} -->

   <div class="card">
      <div class="card-body">
         <div class="row">
            <div class="col-md-3">


               <div class="row">

                  <div class="col-md-12 text-center">
                     <img src='{{ip}}{{data.photo}}' alt="..." style="border:1px solid red; width: 200px;height: auto;" />
                  </div>
                  <div class="col-12 text-center">
                     <!-- <button tpe="button" class="btn btn-primary btn-sm btn-block" data-toggle="modal" data-target="#imageUploadModal">
                        <i class="fa fa-upload" aria-hidden="true"></i> Upload
                     </button> -->

                     <!-- Modal -->
                     <div class="modal fade" id="imageUploadModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
                        aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                           <div class="modal-content">
                              <div class="modal-header">
                                 <h5 class="modal-title" id="exampleModalLongTitle">Upload Profile Pic</h5>
                                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                 </button>
                              </div>
                              <div class="modal-body">

                                 <div class="row">
                                    <div class="col-3">
                                       <p></p>
                                       <span class="result" *ngIf="data1.image">
                                          <img [src]="data1.image" [width]="cropperSettings1.croppedWidth" [height]="cropperSettings1.croppedHeight">
                                       </span>
                                    </div>
                                    <div class="col-9">
                                       <img-cropper [image]="data1" [settings]="cropperSettings1" (onCrop)="cropped($event)"></img-cropper>
                                    </div>
                                 </div>

                                 <!-- <div class="pull-left">
                                    <h3>Sample cropper 1</h3>
                                    <img-cropper [image]="data1" [settings]="cropperSettings1" (onCrop)="cropped($event)"></img-cropper>
                                    <br>
                                    <span class="result" *ngIf="data1.image">
                                       <img [src]="data1.image" [width]="cropperSettings1.croppedWidth" [height]="cropperSettings1.croppedHeight">
                                    </span>
                                 </div> -->


                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-12 text-center">
                     {{data.candidateName}}
                  </div>
                  <div class="col-md-12 text-center">
                     {{data.designation}}
                  </div>
               </div>
            </div>
            <div class="col-md-9">

               <h5>PROFILE DESCRIPTION</h5>
               <p></p>
               <b>{{data.profileDescription}}</b>
               <p></p>
               <ul>
                  <li>{{data.profileLine1}}</li>
                  <li>{{data.profileLine2}}</li>
                  <li>{{data.profileLine3}}</li>
                  <li>{{data.profileLine4}}</li>
               </ul>

               <h5>EXPERIENCE</h5>
               <ul>
                  <li>{{data.experienceLine1}}</li>
                  <li>{{data.experienceLine2}}</li>
                  <li>{{data.experienceLine3}}</li>
                  <li>{{data.experienceLine4}}</li>
               </ul>

               <h5>HIGHLIGHTS & SKILLS</h5>
               <ul>
                  <li>{{data.highlightsLine1}}</li>
                  <li>{{data.highlightsLine2}}</li>
                  <li>{{data.highlightsLine3}}</li>
                  <li>{{data.highlightsLine4}}</li>
               </ul>



            </div>
         </div>
      </div>
   </div>


   <!-- <img src="../../assets/profiles/{{data.name}}.PNG" alt="..."/> -->
</div>