.navbar-default {
    color: white;
    background-color: #305d9f;
    filter: progid:DXImageTransform.Microsoft.Gradient(endColorstr='#305d9f', startColorstr='steelblue', gradientType='0');
}

/* navbar */

.navbar-default {
    background-color: #305d9f;
    border-color: #305d9f;
}

/* Title */

.navbar-default .navbar-brand {
    color: aliceblue;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: aliceblue;
}

/* Link */

.navbar-default .navbar-nav>li>a {
    color: aliceblue;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: aliceblue;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #555;
    background-color: #E7E7E7;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    color: #555;
    background-color: #D5D5D5;
}

/* Caret */

.navbar-default .navbar-nav>.dropdown>a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}

.navbar-default .navbar-nav>.dropdown>a:hover .caret, .navbar-default .navbar-nav>.dropdown>a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}

.navbar-default .navbar-nav>.open>a .caret, .navbar-default .navbar-nav>.open>a:hover .caret, .navbar-default .navbar-nav>.open>a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}

/* Mobile version */

.navbar-default .navbar-toggle {
    border-color: #DDD;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #DDD;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #CCC;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: #777;
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover, .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
        color: #333;
    }
}

.dropdown-menu {
    font-size: 0.9rem;
}

.dropdown-item:focus, .dropdown-item:hover {
    background-color: #305d9f;
    color: white
}

.navbar-toggler:not(:disabled):not(.disabled) {
    border: 1px solid white;
}

.custom-toggler.navbar-toggler {
    color: rgba(255, 255, 255, .5);
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}