<!-- <h1 class="text-center AboutESS"> </h1> -->
<h6 class="text-center" style="background-color: rgba(0,123,255,0.25);padding:0.2em;"><b>{{title}}</b></h6>
<div class="container">
  <div class="card mx-auto">
    <div class="card-body">
        <!-- <p class="text-center">candidate-batch-data</p> -->
      <!-- <input type="file" (change)="fileChange($event)" placeholder="Upload file" accept=".pdf,.doc,.docx"> -->

      <!-- <div class="input-group">
        <div class="custom-file">
          <input type="file" (change)="fileChange($event)"  class="custom-file-input" id="inputGroupFile04"
            aria-describedby="inputGroupFileAddon04" accept=".xls,.doc,.docx">
          <label class="custom-file-label" for="inputGroupFile04">Choose file</label>
        </div>
        <div class="input-group-append">
          <button class="btn btn-outline-primary" type="button" id="inputGroupFileAddon04">Submit</button>
        </div>
      </div> -->

      

      <form [formGroup]="fu"  enctype="multipart/form-data" novalidate>

        <div class="row">
          <div class="form-group">
          &nbsp;&nbsp;  Username:  {{data.name}}
           
          </div>
        </div>
        File to upload:
        <input type="hidden" id="candidate_id" name="candidate_id" value="{{data.id}}">
         <input type="file" name="fileInput" (change)="selectFile($event)">
         &nbsp;
        <input type="submit" (click)="upload()"  value="Upload">
      </form>	
     
      <!-- <div class="form-group">
        <input type="file" class="form-control" #fileInput placeholder="Upload file..." />
        <button type="button" (click)="upload()">Upload</button>  
      </div> -->
     
        

    </div>
  </div>
</div>