th,td{
    font-size: 13px;
}

.btn-group-sm > .btn, .btn-sm {
    padding: .1rem .2rem;
}

.card{
    border: 2px solid #80bdff;
    box-shadow: 0px 0px 0px 0.1rem rgba(0,123,255,0.25);
    /* box-shadow: 0px 4px 10px 0.2px rgba(0,0,0,0.2), 0px 4px 20px 0px rgba(0,0,0,0.19); */
    box-shadow: 0px 4px 10px 0.1px rgba(0,123,255,0.2), 0px 4px 20px 0px rgba(0,123,255,0.19);
}
.table .thead-light th {
    color: #495057;
    background-color: aliceblue;
    /* border-color: #88c1fa; */
    border-color: lightblue;
}

.btn-primary{
    padding: .05rem .25rem;
    border: 1px solid;
}

.btn-blue{
    background-color: #305d9f; 
    color: white;
}

a {
    cursor: pointer;
}

.form-group{
    margin-bottom:0.3rem;
}

.form-control,.custom-select,.custom-file-input{
    border-radius: .25rem;
    /* height: 2em; */
    border:1px solid #80bdff;
}

.custom-file-label{
    border-radius: .25rem;
    border:1px solid #80bdff;
}

