<!-- <h1 class="text-center AboutESS"> </h1> -->
<h6 class="text-center" style="background-color: rgba(0,123,255,0.25);padding:0.2em;"><b>{{title}}</b></h6>
<div class="container">
  <div class="card mx-auto">
    <div class="card-body">
      <p class="text-center">Candidate Resume Upload</p>
      <!-- <input type="file" (change)="fileChange($event)" placeholder="Upload file" accept=".pdf,.doc,.docx"> -->

      <!-- <div class="input-group">
        <div class="custom-file">
          <input type="file" (change)="fileChange($event)"  class="custom-file-input" id="inputGroupFile04"
            aria-describedby="inputGroupFileAddon04" accept=".xls,.doc,.docx">
          <label class="custom-file-label" for="inputGroupFile04">Choose file</label>
        </div>
        <div class="input-group-append">
          <button class="btn btn-outline-primary" type="button" id="inputGroupFileAddon04">Submit</button>
        </div>
      </div> -->

      <input type="file" (change)="onFileChange($event)" multiple="false" placeholder="Upload file..." />
      &nbsp;
      <button type="button" (click)="upload()">Upload</button>

      <hr>
      <pre>
        {{data | json}}
      </pre>
     


    </div>
  </div>
</div>