<div id="demo" class="carousel slide mx-400" data-interval="1800" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
    <li data-target="#demo" data-slide-to="3"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/carsoule/car_5.jpg" alt="Los Angeles" width="100%" height="">
    </div>
    <div class="carousel-item">
      <img src="assets/carsoule/car_1.jpg" alt="Los Angeles" width="100%" height="">
    </div>
    <div class="carousel-item">
      <img src="assets/carsoule/car_3.jpg" alt="New York" width="100%" height="">
    </div>
    <div class="carousel-item">
      <img src="assets/carsoule/car_4.jpg" alt="car5" width="100%" height="">
    </div>
    <div class="carousel-item">
      <img src="assets/carsoule/car_2.jpg" alt="Chicago" width="100%" height="">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>

<br>

<div class="row">

  <div class="col-sm">
    <div class="card card-1">
      <div class="col-xs">
        <span class="bold text-left">PROFILES REPOSITORY</span>
        <i class="fa fa-bar-chart float-right" aria-hidden="true"></i>
      </div>
      <div class="col-xs">
        <span class="bold1"> 0</span>
      </div>
    </div>
  </div>

  <div class="col-sm">
    <div class="card card-1">
      <div class="col-xs">
        <span class="bold">PROFILES AVALIABLE</span>
        <i class="fa fa-bar-chart float-right" aria-hidden="true"></i>
      </div>
      <div class="col-xs">
        <span class="bold1">0</span>
      </div>
    </div>
  </div>

  <div class="col-sm">
    <div class="card card-1">
      <div class="col-xs">
        <span class="bold">PROFILES ONBOARDED</span>
        <i class="fa fa-bar-chart float-right" aria-hidden="true"></i>
      </div>
      <div class="col-xs">
        <span class="bold1">0</span>
      </div>
    </div>
  </div>

  <div class="col-sm">
    <div class="card card-1">
      <div class="col-xs">
        <span class="bold">HACKERRANK ATTENDED</span>
        <i class="fa fa-bar-chart float-right" aria-hidden="true"></i>
      </div>
      <div class="col-xs">
        <span class="bold1"> 0</span>
      </div>
    </div>
  </div>


</div>
<notifier-container></notifier-container>